@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #c3d1db;
    height: 100vh;
    width: 100vw; 
    position: relative;
}
main{
    background-image: linear-gradient(to right, #6595a4, #163c58);
    padding: 13rem 13rem;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    position: relative;
    top: 26%;
    left: 40%;
    transform: translate( -50%, -40%);
    margin: auto;
}

h1{
    position: relative;
    top: 20px;
    left: 100px;
    color:#163c58; 
}

.pontinhos{
    position: relative;
    top: -200px;
    right: 320px;
    width: 100%;
    
}

.apresentacao{
    position: absolute;
}
.apresentacao > .apresentacao-k{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 15%;
    color: white;
    font-size: 18px; 
    text-indent: 15px;
    line-height: 40px; 
    width: 100%;
    height: 50%;
    transform: translate( -50%, -50%);
    
} 
span#burguer{
    background-color: #163c5870;
    position: relative;
    left: 402px;
    top: -35px;
    padding: 8px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    
}

span#burguer:hover{
    background-color: #163c586f;
    color: #163c58;

}
 
.menu{
    background-color: #c3d1db;
    position: relative; /*aq era absolut*/
    left: 0;
    top: -30px;
    width: 100%;
    color: #163c58; 
   
    
} 
.menu{
    display: none;
}

.menu>ul{
    list-style-type: none;
}


.menu > ul>li> a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #163c58;
    
    
}

.menu >ul>li> a:hover{
    padding: 15px;
    background-image: linear-gradient(to right, #6595a4, #163c58);
    color: white;   
    border-radius: 15px;
}

hr{
    position: relative;
    top: 400px;
}

.perfil{
    background-position: left top;
    position: relative;
    left: -40px;
    top: -35px; 
    width: 45vw;
    transform: translate( -65%, -50%);
    background-image: url('imagens/principal.png');
}
.sobre-mim-texto{
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 885px;
    right: -140px;
    text-indent: 15px;
    line-height: 30px; 
    width: 80%;
    height: 50%;
    transform: translate( -50%, -50%);
    color: white;
    font-size: 16px;
    
} 

.sobre{
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 680px;
    left: 160px; 
    color:#163c58d3 ;
}
hr {
    position: relative;
    top: 310px;
    width: 20%;
    height: 1px;
    border: 0px;
    border-top: 1px solid #b1d4e0e9;
    background-color: #dddddd;
  }
div.projeto{
    display: inline-block;
    border: 2px solid #163c58d3;
    border-radius: 15px;
    background-color: #c3d1db;
    width: 300px;
    height: 300px;

}

.projeto{
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 1320px;
    left: 180px; 
    color:#163c58d3 ;
}

div#p1{
    position: relative;
    top: 745px;
    left: -107px;
    background-image: url('imagens/projeto-pagina-de-cadastro.png');
    background-size: 300px;
}
div#p2{
    position: relative;
    top: 785px;
    left: -107px;
    background-color: rgba(255, 255, 255, 0.545);
}
.pagina-de-cadastro{
    display: inline-block;
    text-align: center;
    position: absolute;
    font-size: 18px; 
    top: 1530px;
    left: 245px;
    width: 50%;
    height: 60%;
    transform: translate( -50%, -40%);
    color: #163c58;
}

.link-projeto1{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    top: 720px;
    left: -15px;
}
.html{
    position: relative;
    top: 820px;
    
}
.css{
    position: relative;
    top: 802px;
    left: 50px;

}
.linkedin>a{
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 68%;
    left: 41%;
    color: rgb(214, 226, 241);
    text-decoration: none; 
}
.github>a{
    font-size: 20px;
    text-align: center;
    position: absolute;
    top:75%;
    left: 43%;
    color:rgb(214, 226, 241);
    text-decoration: none; 
    
}
.linkedin> a:hover{
    color:  #163c58d3;   
}
.github> a:hover{
    color:  #163c58d3;   
}
footer{
   display: flex;
   text-align: center;
   justify-content: center;
   position: relative;
   top: 1500px;
   color:white;
   
}