@charset "UTF-8";

@media screen and (min-width: 600px) {
    
    /* span#burguer{
        display: none;

    }

    .menu{
        display: block;
    }

    .menu > ul > li{
        display: inline-block;
        position: relative;
        left: 1335px;
        top: -35px;
        text-align: end;
        justify-content: end;
    } */

    
    
}
